

.grid-container-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-container-1 .box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px hsl(100, 50%, 50%) solid;
  background: 1px hsl(100, 80%, 80%);
  min-height: 200px;
  text-align: center;
}

@media (min-width: 768px) {
  .grid-container-1 {
    /* 3 equal rows */
    grid-template-columns: 1fr 1fr 1fr;
  }
}


