
:root {
  --gray: #F1F1F1;
  --gray-dark: #999999;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'hero hero hero'
    'offers offers offers'
    'popular-deals popular-deals popular-deals'
    'mailing-list mailing-list mailing-list'
    'footer footer footer';
}

.hero {
  grid-area: hero;
  background: #F1F1F1;
}

.offers {
  grid-area: offers;
  background: aqua;
}

.popular-deals {
  grid-area: popular-deals;
  background: aquamarine;
}

.mailing-list {
  grid-area: mailing-list;
  background: aliceblue;
}

.footer {
  grid-area: footer;
  background: cornflowerblue;
}
