
:root {
  --gray: #F1F1F1;
  --gray-dark: #999999;
}

body {
  display: grid;
  grid-template-columns: 1fr;
}

.hero {
  min-height: 100px;
  background: #F1F1F1;
}

.offers {
  min-height: 100px;
  background: aqua;
}

.popular-deals {
  min-height: 100px;
  background: aquamarine;
}

.mailing-list {
  min-height: 100px;
  background: #00ff00;
}

.footer {
  min-height: 100px;
  background: cornflowerblue;
}
